.container {
    top:100px;
    display: flex;
    flex-direction: column;
    background-color: coral;
    border: 3px solid burlywood;
    height: 100vh;
}

.container_1{
    display: flex;
    background-color: coral;
    border: 3px solid #282c34;
}

.item_1 {
    background-color: brown;
    border: 2px solid blue;
    text-align: center;

    flex-grow: 1;
    height: 100px;

}

.item_1 + .item_1 {
    margin-left: 2%;
}


/*  ********************************** */
.container_2{
    display: flex;
    background-color: coral;
    border: 3px solid #282c34;
}