.main_header{
    height: 100px;
    width: 100%;
    background-color: pink;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}



.header_panel{

    border: 5px solid rgb(111,41,97);
    border-radius: .5em;
    height: 100px;
}

.head_content{

    border: 5px solid rgb(111,41,97);
    border-radius: .5em;
    height: 100px;

    display: flex;
    flex-flow: column;
    overflow-y: auto;
}
.sub_head_content{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    background-color: cadetblue;
    flex: 1;
}

.head_item_1{
    background-color: cornflowerblue;
    margin-left: 1px;
    margin-right: 1px;
    flex: 1 1 90%;
    display: flex;
    flex-direction: column;

}


.main_content{
    display: flex;
    position: absolute;
    top: 100px;
    width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: hidden;

}

.content_wrap{
    display: flex;
    width: 100%;
}
.l_box {
    min-width: 200px;
    overflow-y: auto;
    background-color: aqua;
    margin-left:10px;

}

.right_wrap{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
}
.r_box {

    flex: 1 0 auto;
    background-color: antiquewhite;
    margin-right: 10px;
    text-align: left;

}
.main_footer {
    height: 100px;
    background-color: burlywood;
    flex-shrink: 0;
    margin-right:10px;

}


.divLayoutStyle{
    display: flex;
    flex-direction: column;
    top:100px;
    height: calc(100vh - 100px);
}

.divContentStyle{
    flex: 1 0 auto;

}

.divFooterStyle{
    flex-shrink: 0;
    height: 100px;
    background-color: burlywood;
}
