.editor_container {


    background-color: antiquewhite;
    border: 2px solid black;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    min-height: calc(100vh - 100px);

}

.editor_sub_item{


    flex: 1 1 auto;
    background-color: cadetblue;
    border: 2px solid red;
    min-height: 200px;
    margin:40px;

}


.editor_sub_item_1{

    flex: 1 1 auto;
    background-color: darkgreen;


}

.editor_sub_item_2{

    flex: 1 1 auto;
    background-color: darkgoldenrod;

}

.button_style{
    width:100%;
}